/*services-page*/
ol.breadcrumb {
    background-color: transparent;
}
.breadcrumb-item.active {
    color: #f27b00;
}
.table-title {
    font-weight: 500;
    font-size: 18px;
}
.table-f-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
button.btn-table-toggle {
    background-color: #ffffff;
    border: none;
    color: #000;
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid #a19e9e;
}
.table-of-content ul {
    padding-left: 23px;
    margin-top: 16px;
}
 .table-of-content ul li::marker {
    color: #0f91ff;
}
 .table-of-content ul li {   
    color: #2c2c2c;
    line-height: 26px;
}

.table-of-content {
    border-radius: 5px;
        margin-bottom: 20px;
    background: #f3f9fd;
    padding: 14px 20px;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 25%);
}
section.ser-main-content ul{
    margin-bottom: 20px;
}
section.ser-main-content ul li {
        list-style: none;
    line-height: 30px;
}
section.ser-main-content ul li span {
    margin-right: 6px;
    color: #1c3971;
}

section.top-content.service-grade {
    /* background-color: #ffffff; */
    padding: 30px 0px;
    box-shadow: 0px -2px 16px #cbddff;
    margin-top: 40px;
}

.call-content {
    font-size: 30px;
    color: #1c3971;
    position: relative;
    padding-left: 70px;
    line-height: 28px;
}
.call-content span {
    font-size: 26px;
    display: inline-block;
    margin-right: 10px;
    color: #ffffff;
    background-color: #fff;
    padding: 15px 23px;
    border-radius: 100px;
    box-shadow: 0px 0px 13px #a2afc9;
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
        position: absolute;
        left:0;
}

button.request-btn {
    border: none;
    font-size: 18px;
    background-color: #1c3971;
    color: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    /* margin: 10px; */
}
.whatsapp-call .input-block {
    position: relative;
    background-color: #fff;
    padding: 6px;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
}
.whatsapp-call .request-btn {
    position: absolute;
    top: 7px;
    right: 5px;
}
.whatsapp-call input.form-control {
    border: none;
}

.services-step .service-block span {
    width: 140px;
    height: 140px;
    font-size: 32px;
    border: none;
    background-color: #f3f3f7;
    color: #3b3b3c;
}
.services-step .service-block {
    box-shadow: inherit !important;    
    position: relative;
        margin: 0;
}
.services-step h4 {
    color: #000;
}
.services-step .arrow {
    position: absolute;
    top: 63px;
    right: -30px;
}

.counter-item-wrap {
    margin-bottom: 24px;
}
.counter-item-wrap .counter-item {
    position: relative;
}
.ser-icon {
    width: 80px;
    height: 80px;
    background-color: #f27b00;
    font-size: 30px;
    color: #fff;
    border-radius: 100px;
    margin: 0 auto;
}
.counter-item-wrap h3 {
    font-weight: 500;
    font-size: 18px;  
    margin-top: 10px;
}